#main_image {
    position: relative;
    width: 1200px;
    height: 450px;
    /* image 가운데 정렬 */
    margin-left: calc((100% - 1200px)/2);
    /* 부모 tag인 main의 width 이용 */
    margin-right: calc((100% - 1200px)/2);

    background-color: linen;
    background-image: url('/mainImg1.jpg');
    /* 시작 이미지  */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.leftbtn {
    position: absolute;
    width: 60px;
    height: 70px;
    margin-top: 195px;
    margin-left: 20px;
    outline-style: none;
}

.rightbtn {
    position: absolute;
    width: 60px;
    height: 70px;
    margin-top: 195px;
    margin-left: 1120px;
    outline-style: none;
}
